{
    "plugins": ["react", "react-native"],
    "settings": {
        "react": {
        "version": "detect"
        }
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "extends": ["airbnb" ,"eslint:recommended", "plugin:react/recommended"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaFeatures": {
            "jsx": true
        },
        "babelOptions": {
            "presets": ["@babel/preset-react"]
         }
    },
    "env": {
        "react-native/react-native": true
    },
    "rules": {
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-indent" : [
            1,
            4
        ],
        "react/jsx-indent-props": "off",
        "react/function-component-definition": [
            1,
            {
              "namedComponents": "arrow-function"
            }
        ],
        "react/jsx-props-no-multi-spaces": "off",
        "react/jsx-props-no-spreading": 1,
        "no-use-before-define": "off",
        "jsx-quotes": [ 1, "prefer-single" ],
        "no-unused-vars": 1,
        "comma-dangle": 1,
        "arrow-body-style": [
            1,
            "as-needed"
        ],
        "semi": [
            1,
            "never"
        ],
        "linebreak-style": [
            1,
            "unix"
        ],
        "indent": [
            1,
            4
        ]
    }
}